<!DOCTYPE html>
<html lang="en"><head>
        <script src="../static/lib/jquery-3.6.0.min.js"></script>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
        <link rel="stylesheet" href="../static/lib/style.css">
        <link rel="stylesheet" href="./style.css">
        <title>How Are You Really</title>
    </head>

    <body>
        <div class="sidebar">
            <div class="sidebar-container">
                <div class="brand">
                    <h3>
                        <!-- insert HCP logo here -->
                        HAYR
                    </h3>
                    <i class="fas fa-times"></i>
                </div>

                <div class="sidebar-avatar">
                    <div class="avatar-info">
                        <div class="avatar-text">
                            <h4>HAYR</h4>
                            <small></small>
                        </div>
                        <i class="fa-solid fa-angle-double-down"></i>
                    </div>
                </div>

                <div class="sidebar-menu">
                    <ul>
                        <li><a href="#">
                                <i class="fa-solid fa-dashboard"></i>
                                <span>Dashboard</span>
                            </a> </li>
                        <li><a href="#">
                                <i class="fa-solid fa-video-camera"></i>
                                <span>Videos</span>
                            </a></li>
                        <li><a class="active" href="#">
                                <i class="fa-solid fa-chart-bar"></i>
                                <span>Analytics</span>
                            </a></li>
                        <li><a href="#">
                                <i class="fa-solid fa-calendar"></i>
                                <span>Schedule</span>
                            </a></li>
                        <li><a href="#">
                                <i class="fa-solid fa-user"></i>
                                <span>Account</span>
                            </a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="main-content">
            <header>
                <div class="header-title">
                    <label class="bars-icon">
                        <i class="fas fa-bars"></i>
                    </label>
                    <div class="header-info">
                        <h1>How Are You Really</h1>
                        <p>AI-powered mental state analysis                            <i class="fas fa-chart-line"></i>
                        </p>
                    </div>
                </div>

                <div class="header-action">
                    <button class="btn btn-main">
                        <i class="fa-solid fa-video-camera"></i>
                        <span>Analyze</span>
                    </button>
                </div>
            </header>
            <main>
                <section>
                    <h3 class="section-head">Medical Record</h3>
                    <div class="analytics">
                        <div class="analytic">
                            
                            <div class="analytic-info">
                                <h4>Patient</h4>
                                <h1>John Smith</h1>
                            </div>
                        </div>
                        <div class="analytic">
                            <div class="analytic-icon">
                                <i class="fas fa-users"></i>
                            </div>
                            <div class="analytic-info">
                                <h4>Occupation</h4>
                                <h1>Fire Fighter</h1>
                            </div>
                        </div><div class="analytic">
                            <div class="analytic-icon">
                                <i class="fas fa-clock"></i>
                            </div>
                            <div class="analytic-info">
                                <h4>Time in Session</h4>
                                <h1>5<small>hrs</small></h1>
                            </div>
                        </div>
                        
                        <div class="analytic">
                            <div class="analytic-icon">
                                <i class="fas fa-heart"></i>
                            </div>
                            <div class="analytic-info">
                                <h4>Mental Health Rating</h4>
                                <h1>93%</h1>
                            </div>
                        </div>
                    <div class="analytic">
                            <div class="analytic-icon">
                                <i class="fas fa-eye"></i>
                            </div>
                            <div class="analytic-info">
                                <h4>Number of Visits</h4>
                                <h1>4</h1>
                            </div>
                        </div><div class="analytic">
                            
                            <div class="analytic-info">
                                <h4>Insurance</h4>
                                <h1 style="color: #2ec3a3;">Malia Health Care</h1>
                            </div>
                        </div></div>
                </section>

                
                
                <section>
                    <div class="block-grid">
                        <div class="revenue-card">
                            <h3 class="section-head">Live Stream</h3>
                            <div id="video" class="revenue-card">
                                <img src="{{ url_for('video_feed') }}" width="15%">
                            </div>
                            <h3 class="section-head">Real Time Analysis</h3>
                            <div class="rev-content">
                                <img src="./youtubelogo.jpg" alt="">
                                <div class="rev-info">
                                    <p>10:04:30 The patient is happy with confidence 74% </p>
                                    <p>10:04:50 The patient is happy with confidence 96% </p>
                                    <p>10:05:23 The patient is sad with confidence 30% </p>
                                    <p>10:05:47 The patient is happy with confidence 55% </p>
                                    <p>10:06:10 The patient is happy with confidence 88% </p>
                                </div>
                            </div>
                        </div><div class="graph-card">
                            <h3 class="section-head">Mental State Graph</h3>
                            <div class="graph-content">
                                <div class="graph-head">
                                    <div class="icon-wrapper">
                                        <div class="icon">
                                            <i class="fas fa-eye text-main"></i>
                                        </div>
                                        <div class="icon">
                                            <i class="fas fa-clock text-success"></i>
                                        </div>
                                    </div>
                                    <div class="graph-select">
                                        <select name="" id="">
                                            <option value="">Last 5 minutes</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="graph-body">
                                    <canvas id="revenueChart" width="100%">
                                    </canvas>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    <h3 class="section-head">Mental Stability</h3>
                    <div class="chartsBx">
                        <div class="chart"> <canvas id="chart-1"></canvas> </div>
                        <div class="chart"> <canvas id="chart-2"></canvas> </div>
                    </div>
                </section><style>
                    .video {
                        width: 20%;
                        height: 20%;
                    }
                </style>
                
            </main>
        </div>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>

        <script>
            // TODO: colored arbitrarily; update
            const emotionColors = {
                "happy": "green",
                "neutral": "blue",
                "surprise": "blue",
                "angry": "red",
                "disgust": "red",
                "fear": "red",
                "sad": "red"
            };
            const emotions = [];
            const confidences = [];
            const maxData = 100;
            let numData = 0;

            let ctx = document.querySelector('#revenueChart')
            ctx.height = 500;

            const chart = drawChart(ctx);
            setInterval(updateChart, 3000, chart);

            // given epoch time, convert and return hours:minutes:seconds
            function formatTime(time) {
                const date = new Date(1000 * time);
                return date.getHours() + ":" + date.getMinutes() + ":" + date.getSeconds();
            }

            // request last data from server and update chart with it
            function updateChart(chart) {
                $.ajax({
                    url: "/data",
                    type: "GET",
                    success: function (data) {
                        data = data[0];
                        console.log(data);

                        // if no data (eg. database is empty), pass
                        if (!data) {
                            return;
                        }

                        // if reached max data points, remove first data point
                        if (numData >= maxData) {
                            emotions.shift();
                            confidences.shift();
                            chart.data.labels.shift();
                        }

                        // update emotions and confidences
                        emotions.push(data.emotion);
                        confidences.push(data.confidence);

                        // if reached max data points, remove first data point from chart
                        // add new data point to chart
                        chart.data.labels.push(formatTime(data.timestamp));
                        chart.data.datasets.forEach((dataset) => {
                            if (numData >= maxData) {
                                dataset.data.shift();
                                dataset.pointBorderColor.shift();
                            }
                            dataset.data.push(data.confidence);
                            dataset.pointBorderColor.push(emotionColors[data.emotion]);
                        });

                        chart.update();
                        numData++;
                    }
                });
            }

            // draw initial chart
            function drawChart(ctx) {
                let revChart = new Chart(ctx, {
                    type: 'line',
                    // display timestamp as labels, emotion as color, confidence as data
                    // TODO: temporary; update to something more intuitive and meaningful
                    data: {
                        labels: [],
                        datasets: [
                            {
                                pointBorderColor: [],
                                borderWidth: 3,
                                data: confidences
                            }
                        ]
                    },
                    options: {
                        responsive: true,
                        maintainAspectRatio: false,
                        tooltips: {
                            mode: 'index',
                            intersect: false,
                            callbacks: {
                                label: function(e) {
                                    return [
                                        "Emotion: " + emotions[e.index],
                                        "Confidence: " + confidences[e.index]
                                    ];
                                }
                            }
                        }
                    }
                });

                return revChart;
            }
        </script>

        <script>
            let sidebar = document.querySelector('.sidebar')
            let bars = document.querySelector('.bars-icon')
            let main = document.querySelector('.main-content')
            let cancel = document.querySelector('.fa-times')

            bars.addEventListener('click', () => {
                sidebar.classList.toggle('active')
                main.classList.toggle('active')
            })
            cancel.addEventListener('click', () => {
                sidebar.classList.remove('active')
                main.classList.remove('active')
            })
        </script>
        
        <!-- Mental State Charts  -->
        <script>
            const ctx1 = document.getElementById("chart-1").getContext("2d");
            const myChart = new Chart(ctx1, {
            type: "polarArea",
            data: {
                labels: ["Enthusiasm", "Alertness", "Distress"],
                datasets: [
                {
                    label: "% of mental behavior",
                    data: [40, 25, 35],
                    backgroundColor: [
                    "rgba(54, 162, 235, 1)",
                    "rgba(255, 99, 132, 1)",
                    "rgba(255, 206, 86, 1)",
                    ],
                },
                ],
            },
            options: {
                responsive: true,
            },
            });

            const ctx2 = document.getElementById("chart-2").getContext("2d");
            const myChart2 = new Chart(ctx2, {
            type: "bar",
            data: {
                labels: ["Positive state", "Anxiety", "Stress"],
                datasets: [
                {
                    label: "Intensity 0-100",
                    data: [80, 25, 40],
                    backgroundColor: [
                    "rgba(54, 162, 235, 1)",
                    "rgba(255, 99, 132, 1)",
                    "rgba(255, 206, 86, 1)",
                    ],
                },
                ],
            },
            options: {
                responsive: true,
            },
            });
        </script>

    
</body></html>
