<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Display Webcam Stream</title>
<script src="static/lib/jquery-3.6.0.min.js"></script> 

<style>
#container {
	margin: 0px auto;
	width: 500px;
	height: 375px;
	border: 10px #333 solid;
}
#videoElement {
	width: 500px;
	height: 375px;
	background-color: #666;
}
#canvas {
	display: hidden
}
</style>
</head>

<body>
<div id="camera">
	<video autoplay="true" id="videoElement"></video>
	<button id="capture">Capture</button>
</div>
<canvas id="canvas">
	<div class="output">
    <img id="photo" alt="The screen capture will appear in this box.">
  </div>
</canvas>
<script>
const video = document.querySelector("#videoElement");
const captureButton = document.querySelector("#capture")

if (navigator.mediaDevices.getUserMedia) {
	navigator.mediaDevices.getUserMedia({ video: true })
	.then(function (stream) {
			video.srcObject = stream;
	})
	.catch(function (err) {
			console.log(err.name + ": " + err.message);
	});
}

let canvas = document.getElementById("canvas");
let photo = document.getElementById('photo');
let width = video.clientWidth;
let height = video.clientHeight;
canvas.setAttribute('width', width);
canvas.setAttribute('height', height);

// when capture button clicked, capture frame
captureButton.addEventListener("click", function (e) {
	// capture frame
	takepicture();
	// send to server
	$.ajax({
		url: "/analyze",
		type: "POST",
		data: {
			// imageBase64: dataURL
		},
		success: function (result) {
			console.log(result);
		}
	});
	e.preventDefault();
}, false);

clearphoto();

function clearphoto() {
	var context = canvas.getContext('2d');
	context.fillStyle = "#AAA";
	context.fillRect(0, 0, canvas.width, canvas.height);

	var data = canvas.toDataURL('image/png');
	photo.setAttribute('src', data);
}

function takepicture() {
	var context = canvas.getContext('2d');
	if (width && height) {
		canvas.width = width;
		canvas.height = height;
		context.drawImage(video, 0, 0, width, height);

		var data = canvas.toDataURL('image/png');
		photo.setAttribute('src', data);
	} else {
		clearphoto();
	}
}
// stream video from webcam
</script>
</body>
</html>